*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.mainPage{
    height:100%;
    width: 100%;
    display: flex;
}

.categories{
    height:100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1%;

    border: 1px solid black;
}

.categoryName{
    margin: 2%;
}

.products{
    height:100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 1px solid black;
}

.products .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    border: 1px solid black;
    height: 30%;
    width:10%;
    margin: 1%;
    cursor: pointer;
}

.products .productImage{
    display: flex;
    border: 1px solid black;
    width: 80%;
    height: 60%;
}